/*************************************************
**************************************************

Website Name: 
Website URL: 
Website Author: Tabitha Turton
Author URL: tabithaturton.com
Copyright 2017. All Rights Reserved.

Color Guide
***************


*************************************************

Type Guide
***************


Debugging Tools
***************
border: 1px solid #fff;

*************************************************/
/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Header & Nav Styles -------------- 
3. Main Body Styles ----------------- 
4. Sidebar Styles ------------------- 
5. Widget Styles --------------------
6. Footer Styles -------------------- 
7. Comments & Form Styles ----------- 
8. Generic Styles ----------- 
*************************************************
************************************************/
/*----------------------------------------------
------------------------------------------------
0. CSS Reset


------------------------------------------------
----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(193, 185, 168);
}

/*----------------------------------------------
display
positioning
box-model
typography
manipulation
misc
------------------------------------------------
1. Universal Styles
------------------------------------------------

----------------------------------------------*/
@font-face {
  font-family: "nickson";
  src: url("../fonts/ssNickson.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  padding-top: 3vw;
  font-family: system-ui;
  text-align: center;
}

/*----------------------------------------------
------------------------------------------------
2. Header & Nav Styles
------------------------------------------------
----------------------------------------------*/
h1 {
  font-family: nickson;
  color: rgb(82, 78, 69);
  font-weight: 900;
  font-size: 4vw;
}

/*----------------------------------------------
------------------------------------------------
3. Main Body Styles
------------------------------------------------
----------------------------------------------*/
/*----------------------------------------------
------------------------------------------------
4. Sidebar Styles
------------------------------------------------
----------------------------------------------*/
/*----------------------------------------------
------------------------------------------------
5. Widget Styles
------------------------------------------------
----------------------------------------------*/
/*----------------------------------------------
------------------------------------------------
6. Footer Styles
------------------------------------------------
----------------------------------------------*/
/*----------------------------------------------
------------------------------------------------
7. Comments & Form Styles
------------------------------------------------
----------------------------------------------*/
/*----------------------------------------------
------------------------------------------------
8. Generic Styles
------------------------------------------------
----------------------------------------------*//*# sourceMappingURL=index.css.map */