/*************************************************
**************************************************

Website Name: 
Website URL: 
Website Author: Tabitha Turton
Author URL: tabithaturton.com
Copyright 2017. All Rights Reserved.

Color Guide
***************


*************************************************

Type Guide
***************


Debugging Tools
***************
border: 1px solid #fff;

*************************************************/

/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Header & Nav Styles -------------- 
3. Main Body Styles ----------------- 
4. Sidebar Styles ------------------- 
5. Widget Styles --------------------
6. Footer Styles -------------------- 
7. Comments & Form Styles ----------- 
8. Generic Styles ----------- 
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset


------------------------------------------------
----------------------------------------------*/

$colors: (bg: rgba(193, 185, 168, 1),
    theBrown: rgba(82, 78, 69, 1),
    theGray: rgba(111, 112, 114,  1),
  
);

@function getColor($color-name) {
    @return map-get($colors, $color-name);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: getColor(bg)

  }
  /*----------------------------------------------
  display
  positioning
  box-model
  typography
  manipulation
  misc
  ------------------------------------------------
  1. Universal Styles
  ------------------------------------------------
  ----------------------------------------------*/
  body {
    padding-top: 3vw;
    font-family: system-ui;
    text-align: center;
  }
  /*----------------------------------------------
  ------------------------------------------------
  2. Header & Nav Styles
  ------------------------------------------------
  ----------------------------------------------*/
  h1 {

color: getColor(theBrown)
    
  }
  /*----------------------------------------------
  ------------------------------------------------
  3. Main Body Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  4. Sidebar Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  5. Widget Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  6. Footer Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  7. Comments & Form Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  8. Generic Styles
  ------------------------------------------------
  ----------------------------------------------*/